body {
    font-family: Arial; 
    font-size: 20px;
}

.card {
    float: left;
    margin: 10px; 
}

.card-header {
    text-align: center;
}

.card-title {
    text-align: center; 
}

.display-4 {
    text-align: left; 
}

.cityButtons {
    padding: 20px; 
    margin: 5px; 
    width: 15%; 
    text-align: center; 
    color: grey; 
    background-color: pink;   
    border: 1px solid grey;
    
}
